<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  The <%= link_to t("link_title"), "http://www.railstutorial.org/" %> is a
  <%= link_to t("link_to_book"), "http://www.railstutorial.org/" %> and <%= link_to t("link_to_screen"), "http://screencasts.railstutorial.org/" %> to teach web development with <%= link_to t("link_to_ruby"), "http://rubyonrails.org/" %> This is the sample application for the tutorial.
</p>
