<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  <%= t "static_pages.about.text_p_1" %> <%= link_to t("static_pages.about.text_link_railst"), "http://www.railstutorial.org/" %> <%= t "static_pages.about.text_p_2" %> <%= link_to link_to t("static_pages.about.text_link_book"), "http://www.railstutorial.org/" %> <%= t "static_pages.about.text_p_3" %> <%= link_to link_to t("static_pages.about.text_link_screen"), "http://screencasts.railstutorial.org/" %> <%= t "static_pages.about.text_p_4" %> <%= link_to link_to t("static_pages.about.text_link_rails"), "http://rubyonrails.org/" %> <%= t "static_pages.about.text_p_5" %>.
</p>
